[Desktop Entry]
# https://raw.githubusercontent.com/get-aurora-dev/common/refs/heads/main/system_files/shared/usr/share/applications/boot-to-windows.desktop
Hidden=false
Name=Boot to Windows
Comment=Boot to Windows installation
Type=Application
Terminal=false
Icon=folder-windows-symbolic
Exec=sh -c "pkexec /usr/bin/boot-to-windows"
Categories=Utility;
